header {
	position: relative;
		width: 100%;
		min-height: auto;
		text-align: center;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 100%;
}

header .header-content {
	position: relative;
	width: 100%;
	padding: 100px 15px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;

}

.header-name {
    font-size: 60px;
		font-family: 'Josefin Sans', sans-serif;

}

.header-name {
	margin-top: 50px;
	margin-bottom: 0px;
	font-family: 'Josefin Sans', sans-serif;

}


.navbar {
	background-color: transparent;
	border: #414355;
	font-family: 'Josefin Sans', sans-serif;

}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: #414355;
		text-transform: uppercase;

}

.navbar-inverse .navbar-brand:hover {
	background-color: grey;
	color: white;
		text-transform: uppercase;

}

.navbar-inverse .navbar-nav>li>a:hover {
	background-color: grey;
	color: white;
	text-transform: uppercase;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: grey;
}

.navbar-inverse {
	margin-bottom: 0px;
}

h1 {
  text-align: center;
  color: #1e1f25;
  font-weight: 180px;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;

}

h2 {
	margin-top: 5px;
	color: #1e1f25;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}

.header-tag-line {
	font-size: 19px;
	margin-top: 5px;
	margin-bottom: 29px;
}

body {
	background-image: url('./images/lines.jpg');
  font-family: 'Titillium Web', sans-serif;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	font-family: 'Noticia Text', serif;


}

.scroll {
  height: 450px;
  overflow-y: auto;
}

.current-listing-container {
	background-color: white;
	color: #414355;
}

.listing-content{
	text-align: left;
}
