{% extends 'base.html' %}

{% block content %}
<!-- ABOUT CONTAINER -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <h1 class="about-header header-name text-center">  About us</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="about-container text-left">
      <p>For anyone running a small to medium business, finding the right manufacturer, contractor, logistics partner, IT partner - the list goes on- has always been difficult.
      These folks rely on word-of-mouth recommendations, incomplete online resources or cold-calls. It's also extremely difficult to verify the credibilty or reliability due to the lack of transparency. </p>
      <p> With IdentiFly, customers will be able to post a request and have vendors come to them. They will be able to compare the costs and benefits of choosing a particular partner.
        This will be the online marketplace for small to medium businesses to identify partners they need, on the fly. </p>
    </div>
  </div>
</div>
{% endblock %}
