{% extends 'base.html' %} {% load staticfiles %} {% block content %}

<header style="background-image: url('assets/images/mountains.jpg')">
  <div <class="header-content">
    <div class="header-content-inner text-center">
      <h1 class="header-name"> B2B Marketplace </h1>
      <h2> The number one place for RFPs</h2>
      </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2> Current Listings</h2>

      <div class="container scroll current-listing-container">
        {% if messages %}
        <div class='row '>
          <div class="col-sm-6 col-sm-offset-3 ">
            {% for message in messages %}
            <p{% if message.tags == "success" %} class="alert alert-success"{% endif %}
              {% if message.tags == "error" %} class="alert alert-danger"{% endif %}> {{ message}} </p>
            {% endfor %}
          </div>
        </div>
        {% endif %}

      {% if not user.is_authenticated %}
      <p> Login to create a request.
        <hr>
        {% endif %}
        {% for listing in listings %}
        <a class="text-center" href="/{{listing.id}}">
          <p>Topic: {{ listing.topic }}</p>
          <p>Description: {{listing.description}}</p>
        </a>
        <hr />
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
