{% extends 'base.html' %} {% load staticfiles %} {% block content %}

<header>
  <div <class="header-content">
    <div class="header-content-inner text-center">
      <h1 class="header-name"> Identifly </h1>
      <h4 class="header-tag-line"> The number one place for RFPs</h4>
      <br>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <h2> Current Listings</h2>

      <div class="container scroll current-listing-container">
        {% if messages %}
        <div class='row'>
          <div class="col-sm-6 col-sm-offset-3">
            {% for message in messages %}
            <p class="listing-content text-center" {% if message.tags == "success" %} class="alert alert-success"{% endif %}
              {% if message.tags == "error" %} class="alert alert-danger"{% endif %}> {{ message}} </p>
            {% endfor %}
          </div>
        </div>
        {% endif %}

      {% if not user.is_authenticated %}
      <p> Login to create a request.
        <hr>
        {% endif %}
        {% for listing in listings %}
        <a class="text-center" href="/{{listing.id}}">
          <p>Need: {{ listing.topic }}</p>
        </a>
          <p>Description: {{listing.description}}</p>
          <p>Location: {{listing.location}}<p>
          <p>Budget: {{listing.budget}}</p>
        <hr />
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
