{% extends 'base.html' %} {% load staticfiles %} {% block content %}

<header style="background-image: url('https://static.pexels.com/photos/7112/woman-typing-writing-windows.jpg')">

</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2> Current Listings</h2>
      {% if not user.is_authenticated %}
      <p> Login to Create a Request
        <hr>
        {% endif %}
        {% for listing in listings %}
        <a class="text-center" href="/{{listing.id}}">
          <p>Topic: {{ listing.topic }}</p>
          <p>Description: {{listing.description}}</p>
        </a>
        <hr />
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
