{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block content %}

<div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title text-center" id="myModalLabel">Welcome back!</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-6">
                      <div class="well">
                          <form id="loginForm" method="POST" action="." novalidate="novalidate">
                            {% csrf_token %}
                              <div class="form-group">
                              {{form|crispy}}
                              </div>

                              <button type="submit" class="btn btn-success btn-block">Login</button>
                          </form>
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <p class="lead">Don't have an account? Register below.</p>
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span class="fa fa-check text-success"></span> Create your own requests</li>
                          <li><span class="fa fa-check text-success"></span> Compare with other rates</li>
                          <li><span class="fa fa-check text-success"></span> Grow and expand your business</li>
                      </ul>
                      <p><a href="{% url 'register' %}" class="btn btn-info btn-block">Register here</a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>






{% endblock %}
