{% extends 'base.html' %}

{% block content %}

<div id="login-overlay" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title text-center" id="myModalLabel">Register Here</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="well">
            <form class="form-horizontal" method="post">
            <fieldset>
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
              <label class="col-md-6 control-label">  {{ field.label_tag }} </label>
              <div class="col-md-6">
                {{ field }}
              </div>
            </div>
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <div class="form-group">
              <label class="col-md-4 control-label" for=""></label>
              <div class="col-md-4">
                <button id="" name="" class="btn btn-success">Sign Up</button>
              </div>
            </div>
            </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
