{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div id="login-overlay" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title text-center" id="myModalLabel">Register Here</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="well">
            <form class="form-horizontal" method="post">
            <fieldset>
            {% csrf_token %}
            {{form|crispy}}
            {% for field in form %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
            {% endfor %}
              <div class="text-center">
                <button name="" class="btn btn-success align-center">Sign Up</button>
              </div>
            </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
