{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}


<div id="login-overlay" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title text-center" id="myModalLabel">Create new request</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="well">
            <form method="post">
            <fieldset>
            {% csrf_token %}
            {{form.non_field_errors}}
            <div class="form-group">
              <label class="col-md-6 control-label">Topic:</label>
              <div class="col-md-6">
                {{form.topic}}
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-6 control-label">Budget:</label>
              <div class="col-md-6">

                {{form.budget}}
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-6 control-label">Description:</label>
              <div class="col-md-6">
                {{form.description}}
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-6 control-label">Location:</label>
              <div class="col-md-6">
                {{form.location}}
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-6 control-label">Date Required:</label>
              <div class="col-md-6">
                {{form.date_required}}
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-6 control-label">Requirements:</label>
              <div class="col-md-6">
                {{form.requirement1}}
                {{form.requirement2}}
                {{form.requirement3}}
              </div>
            </div>
            <div class="pull-left">
              <input class="btn btn-success btn-block submit-request-button" type="submit" value="Submit" />
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
